/* Page */
.page {
   overflow: hidden;
}


/* Container */
.container {
   width: 100%;
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

body,
a {
   color: #333;
   text-decoration: none;
   font-family: 'Helvetica', arial;
}


hr {
   clear: both;
   margin-top: 40px;
   margin-bottom: 40px;
   border: 0;
   border-top: 1px solid #aaa;
}

h1 {
   font-size: 30px;
   margin-bottom: 40px;
}

p {
   margin-bottom: 20px;
}

hr {
   margin-top: 0;
}

.modall {
   display: flex;
   font-weight: 600;
   font-size: 22px;
   justify-content: flex-start;
   flex-direction: row-reverse;
   transition: all 0.3s ease 0.2s;
}

.modall:hover {
   scale: 1.2;
}
.modal-img  {
   width: 200px;
   height: 120px;
   margin: 0 auto;
}
.modal-body {
   padding: 20px;
   font-size: 15px;
}

.modal-header,
.modal-footer {
   padding: 10px 20px;
}

.modal-header {
   border-bottom: #eee solid 1px;
}

.modal-header h2 {
   font-size: 20px;
}

.modal-footer {
   border-top: #eee solid 1px;
   text-align: right;
}

/* .modal:before {
   content: "";
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
} */
/* 
.modal:target:before {
   display: block;
} */

.modal:target {
   display: block;
}

.modal-dialog {
   background: #fefefe;
   border: #333 solid 1px;
   border-radius: 5px;
   position: fixed;
   left: 15%;
   top: -100%;
   z-index: 11;
   width: 460px;
   -webkit-transform: translate(0, -500%);
   -ms-transform: translate(0, -500%);
   transform: translate(0, -500%);
   -webkit-transition: -webkit-transform 0.3s ease-out;
   -moz-transition: -moz-transform 0.3s ease-out;
   -o-transition: -o-transform 0.3s ease-out;
   transition: transform 0.3s ease-out;
}

.modal:target .modal-dialog {
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   transform: translate(0, 0);
   top: 20%;
}

.btn {
   background: #428bca;
   border: #357ebd solid 1px;
   border-radius: 3px;
   color: #fff;
   display: inline-block;
   font-size: 14px;
   padding: 8px 15px;
   text-decoration: none;
   text-align: center;
   min-width: 60px;
   position: relative;
   transition: color .1s ease;
   /* top: 40em;*/
}

.btn:hover {
   background: #357ebd;
}

.btn.btn-big {
   font-size: 18px;
   padding: 15px 20px;
   min-width: 100px;
}

.btn-big {
   margin-top: 24px;
}

.btn-close {
   color: #aaa;
   font-size: 30px;
   text-decoration: none;
   position: absolute;
   left: 5px;
   top: 0;
}

.btn-close:hover {
   color: #919191;
}

/*добавляем, чтобы остановить прокручивание вверх*/
#close {
   display: none;
}

/* Arrow */
.arrow-1 {
   cursor: pointer;
   position: relative;
   width: 80px;
   height: 50px;
   margin: 20px;
}

.arrow-1 div {
   position: relative;
   top: 20px;
   width: 55px;
   height: 4px;
   background-color: #000;
   box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
   left: -8px;
   display: block;
}

.arrow-1 div::after {
   content: '';
   position: absolute;
   width: 25px;
   height: 3px;
   top: 9px;
   left: -4px;
   background-color: #000;
   transform: rotate(45deg);
}

.arrow-1 div::before {
   content: '';
   position: absolute;
   width: 25px;
   height: 3px;
   top: -7.7px;
   left: -4px;
   background-color: #000;
   box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
   transform: rotate(-45deg);
}